* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


body {
    font-family: Arial, sans-serif;
}

.logo>a {
    text-decoration: none;
    color: black;
}

.allincommon{
    display: flex;
    justify-content: flex-end   ;
}

.allincommon > p {
    align-self: center;
}

.nav-menu>a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(189, 185, 185);
    padding: 20px;
}

.shapka {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-size: 20px;
}

.nav-menu>a:hover {
    cursor: pointer;
    scale: 1.1;
}


.preview {
    background-repeat: no-repeat;
    background-image: url(/image/preview.png);
    width: auto;
    height: 1000px;
    margin-left: 150px;
}


.common-btn {
    width: 30px;
    height: 30px;
}

.text-prev {
    display: flex;
    justify-content: center;
    padding-top: 290px;
    text-align: center;
}

.social-media-prev {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 30px;
}

.social-media-prev>a:hover {
    cursor: pointer;
    scale: 1.1;
}

.benefits-prev {
    display: flex;
    margin-top: 350px;
    justify-content: flex-end;
    gap: 200px;
    text-align: center;
    line-height: 30px;
}

.more-about-us {
    line-height: 30px;
}


.pic-just {
    float: left;
    margin: 0px 7px 7px 0;
}

/* Кнопка узнать больше */

.insurance {
    margin-top: 70px;
    gap: 10px;
}

.gradient-button {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #222121 0%, #4d4d50 51%, #828888 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 35px;
}

.gradient-button:hover {
    cursor: pointer;
    scale: 0.9;
}

/* Кнопка узнать больше */

.service {
    margin-top: 150px;
    line-height: 30px;
}

/* Карточки пруфов */
.proofs {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.card1,
.card2,
.card3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.commonp,
.commonh {
    margin-top: 10px;
    text-align: center;
}

/* Карточки пруфов */


/* js кнопка вверх */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(70, 69, 69);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #807f7f;
}

/* js кнопка вверх */


.discounts {
    color: black;
    display: flex;
    justify-content: flex-start;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 37px;
    padding-top: 80px;
}

.slider {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    padding-top: 30px;
    margin: auto;
    max-width: 1100px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.slide.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.reviews-header {
    display: flex;
    justify-content: center;
}

.news-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.carousel-inner {
    margin-top: 50px;
}


footer {
    background-color: rgb(189, 185, 185);
    padding: 20px;
    margin-top: 40px;
}

.box-call {
    width: 250px;
    text-align: center;
}

.company>a {
    text-decoration: none;
    color: #222121;
}

.internet-shop>a {
    text-decoration: none;
    color: #222121;
}

.company>a:hover {
    scale: 1.1;
    cursor: pointer;
}

.internet-shop>a:hover {
    scale: 1.1;
    cursor: pointer;
}


.common-footer {
    display: flex;
    justify-content: space-evenly;
}

.internet-shop {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.company {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.send-btn {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #222121 0%, #4d4d50 51%, #828888 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
    width: 200px;
}

.send-btn:hover {
    cursor: pointer;
    scale: 0.9;
}
.imagee > img{
    height: 500px;
    width: 900px;
}

.news-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.authorcatergory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}